DJANGO_SECRET_KEY=[DJANGO_SECRET_KEY]
DJANGO_DEBUG=[DJANGO_DEBUG]
DJANGO_ALLOWED_HOSTS=[DJANGO_ALLOWED_HOSTS]

API_KEY=[API_KEY]
API_KEY_HEADER=[API_KEY_HEADER]

KEYCLOAK_URL_SERVIDOR=[KEYCLOAK_URL_SERVIDOR]
KEYCLOAK_USUARIO_ADMIN=[KEYCLOAK_USUARIO_ADMIN]
KEYCLOAK_SENHA_ADMIN=[KEYCLOAK_SENHA_ADMIN]
KEYCLOAK_REALM=[KEYCLOAK_REALM]
KEYCLOAK_VERIFICAR_SSL=[KEYCLOAK_VERIFICAR_SSL]
KEYCLOAK_LOGIN_CLIENT_ID=[KEYCLOAK_LOGIN_CLIENT_ID]
KEYCLOAK_LOGIN_CLIENT_SECRET=[KEYCLOAK_LOGIN_CLIENT_SECRET]